*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    color: #ffffff;
    background-color: #171717;
    background-size: cover;
    background-position: center;
    list-style: none;
}


.container{
    display: flex;
    margin-top: 130px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item{
    width: 725px;
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid #ff5757;
    border-radius: 15px;
    font-size:xx-large;
    min-height: 150px;
}

.item2{
    width: 725px;
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid #ff5757;
    border-radius: 15px;
}
